PORT=3000
APP_NAME=WeddingSnap
COUPLE_NAME=Pavan & Aishwarya
GROOM_NAME=Pavan Kumar
BRIDE_NAME=Aishwarya
EVENT_DATE=2026
ADMIN_KEY=pavan2026admin

CLOUDINARY_CLOUD_NAME=dlqbfsh92
CLOUDINARY_API_KEY=875453367219458
CLOUDINARY_API_SECRET=your_cloudinary_api_secret
CLOUDINARY_FOLDER=Pavan_Aishwarya
